<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Tristan Boucansaud - CV</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body>
    <section>
      <h2>Informations</h2>
      <p><strong>Age :</strong> 23 yo</p>
      <p>
        <strong>Adress :</strong> 8 Avenue Edouard Payen<br />69130 Ecully,
        France
      </p>
      <p><strong>Phone number :</strong> +33 6 13 87 52 48</p>
      <p>
        <strong>E-mail :</strong>
        <a href="mailto:tristan.boucansaud@hotmail.com"
          >tristan.boucansaud@hotmail.com</a
        >
      </p>
      <p>
        <strong>Online resume :</strong>
        <a href="https://tristanboucansaud.fr" target="_blank"
          >tristanboucansaud.fr</a
        >
      </p>
      <p><strong>LinkedIn :</strong></p>
      <div>
        <a
          href="https://www.linkedin.com/in/tristan-boucansaud/"
          target="_blank"
          ><img id="qrcode_linkedin" src="qrcode_linkedin.png" alt=""
        /></a>
      </div>
      <div>
        <a
          href="https://www.linkedin.com/in/tristan-boucansaud/"
          target="_blank"
          ><img id="qrcode_linkedin" src="qrcode_linkedin_print.png" alt=""
        /></a>
      </div>
      <p>
        <strong>GitHub :</strong
        ><a href="https://github.com/TristanBoucansaud" target="_blank">
          github.com/TristanBoucansaud</a
        >
      </p>
      <p><strong>Driving license</strong></p>
    </section>

    <section>
      <h1>Work experience</h1>
      <a href="https://pro.bsport.io/en/home/" target="_blank"
        ><h2>Developer Full Stack / QA Engineer - Bsport</h2></a
      >
      <h3>March 2022 - August 2022</h3>
      <p>
        Bsport is a 5-year-old start-up whose product is a sportclub management
        <em>web application</em>. Renowned for their growth, their effectives
        have improved by 200% this last year. I worked on this complex
        application with <em>a lot of features</em> and on bug fixes, first in
        the frontend part which is in <em>React JS</em>, then in the backend in
        <em>Django</em>. I discovered a lot of tools, and a team that works with
        agile methods.
      </p>
      <ul>
        <li>&nbspDevelopment of new features in the application</li>
        <li>&nbspBug fixes and hotfixes</li>
        <li>&nbspQA engineer, handling bug tickets</li>
        <li>&nbspAutomatization of data migrations with Python scripts</li>
      </ul>
      <ul>
        <li>React JS</li>
        <li>Django</li>
        <li>Redux</li>
        <li>Material UI</li>
        <li>DRF</li>
        <li>GitLab</li>
        <li>Notion</li>
        <li>Next JS</li>
      </ul>
      <a href="https://www.grandlyon.com/" target="_blank"
        ><h2>Developer Full Stack - Grand Lyon</h2></a
      >
      <h3>January 2022 - March 2022</h3>
      <p>
        Grand Lyon is the Lyon metropolis. In the sight of the Erasme Project,
        which aims at making IT projects for the ecology, we developed a
        <em>web application</em> that identifies more than 350 tree species,
        with a <em>search engine</em> to help individuals with finding the
        perfect tree for their green areas. I improved my skills in
        <em>Node.js</em> for the backend, and in <em>HTML</em>, <em>CSS</em> and
        <em>Javascript</em> for the frontend.
      </p>
      <ul>
        <li>
          &nbspDevelopment and design of a directory identifying tree species
        </li>
        <li>
          &nbspElaboration of a search engine to find the perfect tree for
          individuals
        </li>
      </ul>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript Vanilla</li>
        <li>Node.js</li>
      </ul>
      <a href="https://www.schueco.com/us/" target="_blank"
        ><h2>Software Developer - Schüco</h2></a
      >
      <h3>November 2021 - January 2022</h3>
      <p>
        Schüco is a german enterprise based in New York, and is among the
        <em>leading suppliers of high-quality window</em>, door and facade
        systems. They aim to develop IT solutions to develop 3D visualisation
        softwares. In this context, we developed a <em>ChatBot</em>, in order to
        help users of these softwares. This required skills in <em>Python</em>,
        <em>NLP</em>, <em>Angular</em> and <em>Django</em>, technologies we
        worked on to achieve this project.
      </p>
      <ul>
        <li>
          &nbspElaboration of a ChatBot to guide users through an ordering
          website
        </li>
      </ul>
      <ul>
        <li>Python</li>
        <li>NLP</li>
        <li>Angular</li>
        <li>Django</li>
      </ul>
      <a href="https://adaptiv.systems/" target="_blank"
        ><h2>Web Developer Full Stack - Adaptiv Systems</h2></a
      >
      <h3>September - November 2021</h3>
      <p>
        Adaptiv Systems is a start-up that finds solutions to create
        <em>tailored IoT systems</em> for companies. Their aim is to help these
        companies in their object-driven digitalisation. We developed a
        <em>website</em> from scratch with two other students, improving my
        skills in <em>HTML</em>, <em>CSS</em> and <em>Javascript</em> for the
        frontend. We used <em>Node.js</em> in backend, an environment I had to
        learn.
      </p>
      <ul>
        <li>
          &nbspDevelopment from scratch to hatch of an ordering website for a
          company
        </li>
      </ul>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript Vanilla</li>
        <li>Node.js</li>
      </ul>
      <a href="http://www.exelis.com/" target="_blank"
        ><h2>Web Developer Full Stack - Exelis</h2></a
      >
      <h3>April - August 2021</h3>
      <p>
        Exelis is a very small enterprise, specialized in <em>IT services</em>.
        I worked on a <em>website</em> called "mon-event", which is used to
        manage an event from scratch to hatch. Thanks to this traineeship, I
        learnt to develop a website, by using <em>HTML</em>, <em>CSS</em> and
        <em>Javascript</em> for the frontend and <em>PHP</em> for the backend. I
        also worked with another intern, so I learnt how to use <em>GitHub</em>.
      </p>
      <ul>
        <li>&nbspDevelopment of a quiz website for the CEA</li>
        <li>&nbspMonitoring of mon-event, a event-managing website</li>
      </ul>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP7</li>
      </ul>
      <h2>Member of the adminitration board - Ecole Centrale de Lyon</h2>
      <h3>2021 - 2023</h3>
      <p>
        Elected in March 2021, I am a
        <em>member of the adminitration board</em> of my school. Our aim is to
        rule the school, vote for important decisions proposed by different
        protagonists like the school director, the study board or students.
        Every decision that involve an expenditure for example must be examined
        by the council. I also take part on the <em>disciplinary board</em>.
        This experience showed me how a big infrastructure works, and the
        importance of each decision they take.
      </p>
      <ul>
        <li>
          &nbspTaking part in the decisions of the management body of the school
        </li>
      </ul>
      <ul>
        <li>School administration board</li>
        <li>Disciplinary board</li>
      </ul>
      <a href="https://centralelyonconseil.fr/" target="_blank"
        ><h2>Study Manager - Centrale Lyon Conseil</h2></a
      >
      <h3>2019 - 2020</h3>
      <p>
        A <a href="#">Junior-Enterprise</a> is an organisation linked to an
        university or a business school, <em>providing services</em> for many
        clients, especially <em>consulting</em>, which are executed by students,
        aiming at giving practical experience to them in their field of
        studying. Centrale Lyon Conseil is the Junior-Enterprise of the Ecole
        Centrale de Lyon, where I belonged during a year, as a
        <em>Study Manager</em>. I used to be the link between the student and
        the client, in order to <em>lead the study</em>, organise the
        communication and manage both the planning and the cost of the study.
      </p>
      <ul>
        <li>
          &nbspFollowing consultants (students) and clients in order to lead a
          study
        </li>
      </ul>
      <ul>
        <li>Study management</li>
        <li>Man-day</li>
        <li>GANTT</li>
      </ul>
    </section>

    <section>
      <h1>Education</h1>
      <a href="https://www.ec-lyon.fr/" target="_blank"
        ><h2>Ecole Centrale de Lyon - General engineer course</h2></a
      >
      <h3>2019 - 2023</h3>
      <p>
        The Ecole Centrale de Lyon is the
        <em>7th best french engineering school</em>, it is based on
        <em>multidisciplinary teaching</em>, in order to train our versatility.
        We also specialize in some particular fields, which are
        <em>computering science</em> and <em>management</em> for me. I
        especially followed general lessons on <em>Python</em>,
        <em>Java</em> and <em>C++</em>, and lessons on management and about
        <em>Humanities and Social Sciences</em>.
      </p>
      <ul>
        <li>&nbsp7th best engineering school in France</li>
        <li>&nbspLearning general engineering around a lot of fields</li>
        <li>
          &nbspSpecialization in general computering science and management
        </li>
      </ul>
      <ul>
        <li>General engineering</li>
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
        <li>Management</li>
      </ul>
      <a
        href="https://facdephilo.univ-lyon3.fr/master-logique-histoire-et-philosophie-des-sciences-et-des-technologies-2"
        target="_blank"
        ><h2>
          Université Jean Moulin Lyon 3 - Master of History and Philosophy of
          Science and Technology
        </h2></a
      >
      <h3>2022 - 2023</h3>
      <p>
        This master aims at taking a <em>philosophical step back</em> on what I
        study in my main cursus. Furthermore, it is a great way to
        <em>open my mind</em> to new ways of thinking, and to know how
        historical scientists used to <em>innovate</em> and create
        <em>new paradigms</em>. Finally, I am a lover of ancient philosophy and
        of sciences, this is a good opportunity to mix both.
      </p>
      <ul>
        <li>&nbspDouble degree with the Ecole Centrale de Lyon</li>
        <li>
          &nbspHistory and Philosophy of different fields of science, like
          logic, physics, maths or technologies
        </li>
        <li>&nbspPhilosophy of mind at the Ecole Normale Supérieure of Lyon</li>
      </ul>
      <ul>
        <li>Philosophy of science</li>
        <li>History of science</li>
        <li>Philosophy of mind</li>
      </ul>
      <a
        href="https://www.ec-lyon.fr/formation/diplomes-etablissement/centrale-digital-lab"
        target="_blank"
        ><h2>
          Centrale Digital Lab - Diploma of the Ecole Centrale de Lyon
        </h2></a
      >
      <h3>2021 - 2022</h3>
      <p>
        The Centrale Digital Lab curriculum is made up of 3 weeks of computering
        lessons and <em>3 projects of 7 weeks</em>, with different kind of
        companies (one start-up, one SMEs and one big business). We are bring to
        work on <em>different technologies</em> in little groups, improving our
        way to <em>work in team</em> around the <em>Scrum framework</em>, in a
        real experience in the world of business.
      </p>
      <ul>
        <li>&nbspSchooling basics in several IT fields</li>
        <li>&nbsp3 projects of 2 months with companies on several fields</li>
        <li>
          &nbspLearning SCRUM method to understand the role of a Scrum Master
        </li>
      </ul>
      <ul>
        <li>Web development</li>
        <li>Machine learning</li>
        <li>SCRUM method</li>
      </ul>
      <a
        href="https://pcsi-arago-maths.pagesperso-orange.fr/cpgearago.htm"
        target="_blank"
        ><h2>François Arago high school - French CPGE MPSI / MP</h2></a
      >
      <h3>2016 - 2019</h3>
      <p>
        A preparatory class for the grandes écoles (CPGE) is a 2-year curriculum
        that leads to entrance exams for the grandes écoles. We learn a lot of
        <em>maths</em> and <em>physics</em>, in order to obtain a solid
        scientific basis. I did mine in 3 years, to optimise my odds for the
        entrance exams. Not useful in terms of hard skills, these years made me
        more <em>rigorous</em> and <em>painstaking</em>.
      </p>
      <ul>
        <li>
          &nbspPreparatory class aiming at entrance exams for Grandes Écoles
        </li>
        <li>&nbspLearning a solid scientific basis</li>
      </ul>
      <ul>
        <li>Mathematics</li>
        <li>Physics</li>
        <li>Engineering science</li>
        <li>Python</li>
        <li>SQL</li>
      </ul>
    </section>

    <section>
      <h2>Languages</h2>
      <p><strong>For humans :</strong></p>
      <ul>
        <li>French (native)</li>
        <li>English (590+ TOEFL)</li>
        <li>Russian (basics)</li>
        <li>Spanish (basics)</li>
      </ul>
      <p><strong>For computers :</strong></p>
      <p>Front-end</p>
      <ul>
        <li>HTML/CSS</li>
        <li>Javascript Vanilla</li>
        <li>TKinter</li>
        <li>React JS</li>
      </ul>
      <p>Back-end</p>
      <ul>
        <li>Express</li>
        <li>PHP 7</li>
        <li>Django</li>
      </ul>
      <p>Databases</p>
      <ul>
        <li>PostgreSQL</li>
        <li>MySQL</li>
      </ul>
      <p>Data science</p>
      <ul>
        <li>Numpy</li>
        <li>Matplotlib</li>
        <li>MATLAB</li>
      </ul>
      <p>Tools</p>
      <ul>
        <li>Notion</li>
        <li>Git</li>
        <li>FileZila</li>
        <li>LaTeX</li>
        <li>Microsoft Office</li>
      </ul>
      <p>Methodology</p>
      <ul>
        <li>SCRUM</li>
        <li>Design Thinking</li>
      </ul>
    </section>

    <section>
      <h2>Achievements</h2>
      <ul>
        <li>
          <em>Research project:</em> Impacts of the COVID-19 crisis on the École
          Centrale de Lyon student community
        </li>
        <li>
          <em>Study project:</em> Movement 2 Music, an instrument converting
          movements into songs
        </li>
        <li>
          <em>Scholar project:</em> Management of a self-driving vehicules
          network
        </li>
        <li>
          <em>Scholar project:</em> Probabilistic generation of a melody based
          on the Tonnetz
        </li>
        <li><em>Diploma:</em> Design Thinking Certificate</li>
      </ul>
      <h2>Miscellaneous</h2>
      <ul>
        <li>First degree of <em>black belt</em> in Judo</li>
        <li>
          Former <em>president</em> of the Theatre Club, the Judo Club and the
          Kaamelott Club, 3 clubs from Centrale Lyon
        </li>
      </ul>
    </section>

    <section>
      <h1>Interests</h1>
      <h2>Judo and sports</h2>
      <p>
        I am <em>black belt</em> and immersed in Judo’s values since my
        childhood. These values are ruled by the Moral Code of Judo, which is
        composed of <em>8 values</em> : respect, courage, self control,
        sincerity, politeness, modesty, friendship and honor.
      </p>
      <ul>
        <li>&nbsp15 years of Judo in competition and sports in general</li>
      </ul>
      <ul>
        <li>Black belt</li>
        <li>Moral Code of Judo</li>
      </ul>
      <h2>Computers</h2>
      <p>
        I like coding, playing and tickle the limits of computers. I like
        working on <em>personnal projects</em> like this website. I also used to
        be a <em>competitive player</em> of Teamfight Tactics, a strategy video
        game where I reached the <em>top 500 in Europe</em>, as a member of an
        <em>esport structure</em>.
      </p>
      <ul>
        <li>&nbspPlay with the limits of computers</li>
      </ul>
      <ul>
        <li>Personal IT projects</li>
        <li>Video games</li>
        <li>Competitive player of Teamfight Tactics</li>
      </ul>
      <h2>Philosophy</h2>
      <p>
        I am interested in Philosophy and I read
        <em>a lot of ancient books</em>. Understanding how the greatest thinkers
        used to see their world, their society and their feelings is in my
        opinion a key to
        <em>understand our modern world in a different way</em>. Plato,
        Descartes or Euler are ones of my favourites.
      </p>
      <ul>
        <li>
          &nbspUnderstanding how the greatest thinkers used to see their world,
          society and feelings
        </li>
      </ul>
      <ul>
        <li>Ancient books</li>
        <li>Ethics</li>
      </ul>
    </section>
  </body>
</html>
