<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Resume - Tristan Boucansaud</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/style_fr.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Open+Sans"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1 class="title-header">Tristan Boucansaud</h1>
      <p class="subtitle-header">Online Resume</p>
    </header>

    <section>
      <h2>Key informations</h2>
      <p class="function">Multidisciplinary Engineer - Product Owner</p>
      <hr />
      <p class="description">
        23 years old french student at the
        <strong>Ecole Centrale de Lyon</strong>, I'm looking for a final
        <strong>training period</strong> of 6 months in April 2023 as a
        <strong>Product Owner</strong>. Very <strong>sociable</strong>, I love
        teamworking, and my good mood will for sure please to my future
        colleagues. However, I am very <strong>rigorous</strong>, and I know how
        to stay <strong>professionnal</strong> when it is necessary.
      </p>

      <article class="key-article">
        <div>
          <a href="#work-experience"><h3>Work Experience</h3></a>
          <hr class="no-margin" />
          <div class="logos-keys">
            <a href="#bsport" class="sub-logos"
              ><img src="/assets/bsport-logo.png" alt="bsport" class="logo-keys" />Web
              development - QA Engineer</a
            >
            <a href="#grandlyon" class="sub-logos"
              ><img
                src="/assets/grandlyon-logo.png"
                alt="grandlyon"
                class="logo-keys"
              />Web development</a
            >
            <a href="#schuco" class="sub-logos"
              ><img
                src="/assets/schuco-logo.png"
                alt="schuco"
                class="logo-keys"
              />Chatbot development</a
            >
            <a href="#adaptiv" class="sub-logos"
              ><img
                src="/assets/adaptiv-logo.jfif"
                alt="adaptiv"
                class="logo-keys"
              />Web development</a
            >
            <a href="#exelis" class="sub-logos"
              ><img src="/assets/exelis-logo.png" alt="exelis" class="logo-keys" />Web
              development</a
            >
            <a href="#centralelyonconseil" class="sub-logos"
              ><img src="/assets/clc-logo.png" alt="clc" class="logo-keys" />Head
              of studies</a
            >
          </div>
        </div>
        <div>
          <h3>Informations</h3>
          <hr class="no-margin" />
          <div class="informations">
            <p><strong>Age:</strong> 23 yo</p>
            <p>
              <strong>Location:</strong> 2 Place de la Gare<br />69160
              Tassin-la-Demi-Lune, France
            </p>
            <p>
              <strong>Phone number:</strong> <a href="tel:+33613875248"></a>+33 6
              13 87 52 48
            </p>
            <p>
              <strong>E-mail:</strong>
              <a href="mailto:tristan.boucansaud@hotmail.com"
                >tristan.boucansaud@hotmail.com</a
              >
            </p>
            <p class="hidden-web">
              <strong>Online resume:</strong>
              <a href="https://tristanboucansaud.fr" target="_blank"
                >tristanboucansaud.fr</a
              >
            </p>
            <p class="hidden-web"><strong>LinkedIn:</strong></p>
            <div class="hidden-web">
              <a
                href="https://www.linkedin.com/in/tristan-boucansaud/"
                target="_blank"
                ><img src="qrcode_linkedin_print.png" alt="github"
              /></a>
            </div>
            <p class="hidden-web">
              <strong>GitHub:</strong>
              <a href="https://github.com/TristanBoucansaud" target="_blank"
                >github.com/TristanBoucansaud</a
              >
            </p>
            <p><strong>Driving license</strong></p>
          </div>
          <div class="logos-sn">
            <a
              href="https://www.linkedin.com/in/tristan-boucansaud/"
              target="_blank"
              ><img
                id="linkedin"
                src="/assets/linkedin.png"
                alt="linkedin"
                class="logo-sn"
            /></a>
            <a href="https://github.com/TristanBoucansaud" target="_blank"
              ><img id="github" src="/assets/github.png" alt="" class="logo-sn"
            /></a>
          </div>
        </div>
        <div>
          <a href="#education"><h3>Education</h3></a>
          <hr class="no-margin" />
          <div class="logos-keys">
            <a href="#centralelyon" class="sub-logos"
              ><img
                src="/assets/ecl-logo.png"
                alt="ecl"
                class="logo-keys"
              />Multidisciplinary Engineer</a
            >
            <a href="#centraledigitallab" class="sub-logos"
              ><img
                src="/assets/cdl-logo.png"
                alt="cdl"
                class="logo-keys"
              />Digital Tech Year</a
            >
            <a href="#jeanmoulin" class="sub-logos"
              ><img
                src="/assets/lyon3-logo.png"
                alt="lyon3"
                class="logo-keys"
              />History and Philosophy of Science</a
            >
            <a href="#arago" class="sub-logos"
              ><img
                src="/assets/arago-logo.png"
                alt="arago"
                class="logo-keys"
              />Preparatory class in Maths and Physics</a
            >
          </div>
        </div>
      </article>
    </section>

    <section id="work-experience">
      <h2>Work experience</h2>
      <hr />
      <article class="grid" id="bsport">
        <div>
          <h4><img src="/assets/bsport-logo.png" alt="bsport" class="mini-logo-title">Bsport</h4>
          <p>March 2022 - August 2022</p>
          <p class="company-details">
            <span class="location">Barcelona</span>
            <br />
            <a href="https://pro.bsport.io/en/home/" target="_blank"
              ><span class="link">https://pro.bsport.io/en/home/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack / QA Engineer</h4>

          <ul class="objectives-list">
            <li>Development of new features in the application</li>
            <li>Bug fixes and hotfixes</li>
            <li>QA engineer, handling bug tickets</li>
            <li>Automatization of data migrations with Python scripts</li>
          </ul>
          <ul class="skills-list">
            <li>React JS</li>
            <li>Django</li>
            <li>Redux</li>
            <li>Material UI</li>
            <li>DRF</li>
            <li>GitLab</li>
            <li>Notion</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="grandlyon">
        <div>
          <h4><img src="/assets/grandlyon-logo.png" alt="grandlyon" class="mini-logo-title">Grand Lyon</h4>
          <p>January 2022 - March 2022</p>
          <p class="company-details">
            <span class="location">Villeurbanne (partial remote)</span>
            <br />
            <a href="https://essences.projets.erasme.org/" target="_blank"
              ><span class="link">https://essences.projets.erasme.org/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack</h4>

          <ul class="objectives-list">
            <li>
              Development and design of a web directory identifying tree species
            </li>
            <li>
              Elaboration of a search engine to find the perfect tree for
              individuals
            </li>
          </ul>
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="schuco">
        <div>
          <h4><img src="/assets/schuco-logo.png" alt="schuco" class="mini-logo-title">Schüco</h4>
          <p>November 2021 - January 2022</p>
          <p class="company-details">
            <span class="location">New York (full remote)</span>
            <br />
            <a href="https://www.schueco.com/us/" target="_blank"
              ><span class="link">https://www.schueco.com/us/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Software Developer</h4>

          <ul class="objectives-list">
            <li>
              Elaboration of a Python ChatBot to guide users through an ordering
              website
            </li>
            <li>Development of a web design using the Python script</li>
          </ul>
          <ul class="skills-list">
            <li>Python</li>
            <li>NLP</li>
            <li>Angular</li>
            <li>Django</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="adaptiv">
        <div>
          <h4><img src="/assets/adaptiv-logo.jfif" alt="adaptiv" class="mini-logo-title">Adaptiv Systems</h4>
          <p>September - November 2021</p>
          <p class="company-details">
            <span class="location">Paris 15th (partial remote)</span>
            <br />
            <a href="https://adaptiv.systems/" target="_blank"
              ><span class="link">https://adaptiv.systems/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack</h4>

          <ul class="objectives-list">
            <li>
              Development from scratch to hatch of an ordering website for a
              company
            </li>
            <li>SCRUM Master role in the team</li>
          </ul>
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>SCRUM Master</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="exelis">
        <div>
          <h4><img src="/assets/exelis-logo.png" alt="exelis" class="mini-logo-title">Exelis</h4>
          <p>April - August 2021</p>
          <p class="company-details">
            <span class="location">Lyon 7th</span>
            <br />
            <a href="http://www.exelis.com/" target="_blank"
              ><span class="link">http://www.exelis.com/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack</h4>

          <ul class="objectives-list">
            <li>Development of a quiz website for the CEA</li>
            <li>Monitoring of mon-event, a event-managing website</li>
            <li>Redesign of a database</li>
          </ul>
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP7</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="board">
        <div>
          <h4><img src="/assets/ecl-logo.png" alt="ecl" class="mini-logo-title">Ecole Centrale de Lyon</h4>
          <p>2021 - 2023</p>
          <p class="company-details">
            <span class="location">Ecully</span>
          </p>
        </div>
        <div>
          <h4>Member of the Adminitration Board</h4>

          <ul class="objectives-list">
            <li>
              Take part in the decisions of the management body of the school
            </li>
            <li>
              Be an interlocutor between the students and the administation
            </li>
            <li>Judgement of students through the Disciplinary Board</li>
          </ul>
          <ul class="skills-list">
            <li>School Administration Board</li>
            <li>Disciplinary Board</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="centralelyonconseil">
        <div>
          <h4><img src="/assets/cdl-logo.png" alt="cdl" class="mini-logo-title">Centrale Lyon Conseil</h4>
          <p>2019 - 2020</p>
          <p class="company-details">
            <span class="location">Ecully</span>
            <br />
            <a href="https://centralelyonconseil.fr/" target="_blank"
              ><span class="link">https://centralelyonconseil.fr/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Head of Studies</h4>

          <ul class="objectives-list">
            <li>
              Following consultants (students) and clients in order to lead a
              study
            </li>
            <li>Talk with new clients to understand their needs</li>
          </ul>
          <ul class="skills-list">
            <li>Head of study</li>
            <li>Man-day</li>
            <li>GANTT</li>
          </ul>
        </div>
      </article>
    </section>

    <section id="education">
      <h2>Education</h2>
      <hr />

      <article class="grid" id="centralelyon">
        <div>
          <h4><img src="/assets/ecl-logo.png" alt="ecl" class="mini-logo-title">Ecole Centrale de Lyon</h4>
          <p>2019 - 2023</p>
          <p class="company-details">
            <span class="location">Ecully</span>
            <br />
            <a href="https://www.ec-lyon.fr/" target="_blank"
              ><span class="link">https://www.ec-lyon.fr/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Multidisciplinary Engineering Courses</h4>

          <ul class="objectives-list">
            <li>7th best engineering school in France</li>
            <li>Learning general engineering in many fields of science</li>
            <li>
              Specialization in general computering science and in social
              science
            </li>
          </ul>
          <ul class="skills-list">
            <li>General engineering</li>
            <li>General Computering Science</li>
            <li>Social Science</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="jeanmoulin">
        <div>
          <h4><img src="/assets/lyon3-logo.png" alt="lyon3" class="mini-logo-title">Jean Moulin Lyon 3 University</h4>
          <p>2022 - 2023</p>
          <p class="company-details">
            <span class="location">Lyon 7th</span>
            <br />
            <a
              href="https://facdephilo.univ-lyon3.fr/master-logique-histoire-et-philosophie-des-sciences-et-des-technologies-2"
              target="_blank"
              ><span class="link"
                >https://facdephilo.univ-lyon3.fr/master-logique-histoire-et-philosophie-des-sciences-et-des-technologies-2</span
              ></a
            >
          </p>
        </div>
        <div>
          <h4>Master of History and Philosophy of Science and Technology</h4>

          <ul class="objectives-list">
            <li>Double degree with the Ecole Centrale de Lyon</li>
            <li>
              History and Philosophy of different fields of science, like logic,
              physics, maths or technologies
            </li>
            <li>
              Philosophy of cognition at the Ecole Normale Supérieure of Lyon
            </li>
          </ul>
          <ul class="skills-list">
            <li>Philosophy of Science</li>
            <li>History of Science</li>
            <li>Philosophy of Cognition</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="centraledigitallab">
        <div>
          <h4><img src="/assets/cdl-logo.png" alt="cdl" class="mini-logo-title">Centrale Digital Lab</h4>
          <p>2021 - 2022</p>
          <p class="company-details">
            <span class="location">Charbonnières-les-Bains</span>
            <br />
            <a
              href="https://www.ec-lyon.fr/formation/diplomes-etablissement/centrale-digital-lab"
              target="_blank"
              ><span class="link"
                >https://www.ec-lyon.fr/formation/diplomes-etablissement/centrale-digital-lab</span
              ></a
            >
          </p>
        </div>
        <div>
          <h4>Digital Tech Year of the Ecole Centrale de Lyon</h4>

          <ul class="objectives-list">
            <li>Schooling basics in several IT fields</li>
            <li>Three projects of two months with companies on many fields</li>
            <li>
              Agile methodology courses, applied in our projects with the SCRUM
              Method
            </li>
          </ul>
          <ul class="skills-list">
            <li>Web development</li>
            <li>Machine learning</li>
            <li>SCRUM method</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="arago">
        <div>
          <h4><img src="/assets/arago-logo.png" alt="arago" class="mini-logo-title">François Arago High School</h4>
          <p>2016 - 2019</p>
          <p class="company-details">
            <span class="location">Perpignan</span>
            <br />
            <a
              href="https://pcsi-arago-maths.pagesperso-orange.fr/cpgearago.htm"
              target="_blank"
              ><span class="link"
                >https://pcsi-arago-maths.pagesperso-orange.fr/cpgearago.htm</span
              ></a
            >
          </p>
        </div>
        <div>
          <h4>Preparatory Class in Maths and Physics</h4>

          <ul class="objectives-list">
            <li>
              Preparatory class aiming at entrance exams for Grandes Écoles
            </li>
            <li>Dense courses to acquire a solid scientific basis</li>
            <li>Oral exams twice a week to improve our oral expression</li>
          </ul>
          <ul class="skills-list">
            <li>Mathematics</li>
            <li>Physics</li>
            <li>Engineering science</li>
            <li>Python</li>
            <li>SQL</li>
          </ul>
        </div>
      </article>
    </section>

    <section id="languages">
      <h2>Skills</h2>
      <hr>
      <h4>Languages</h4>
      <ul class="languages-list">
        <li>French<span class="three-star language-level">Native</span></li>
        <li>English<span class="three-star language-level">B2+, 590+ TOEFL</span></li>
        <li>Spanish<span class="one-star language-level">A2</span></li>
        <li>Russian<span class="one-star language-level">A2</span></li>
      </ul>
      <h4>Soft skills</h4>
      <ul class="languages-list">
        <li>SCRUM<span class="three-star"></span></li>
        <li>Design Thinking<span class="two-star"></span></li>
      </ul>
      <h4>Hard skills</h4>
      <p class="hard-skill">Programming languages</p>
      <ul class="languages-list">
        <li>Python<span class="three-star"></span></li>
        <li>HTML<span class="three-star"></span></li>
        <li>CSS<span class="three-star"></span></li>
        <li>Javascript<span class="three-star"></span></li>
        <li>PHP 7<span class="two-star"></span></li>
        <li>C++<span class="two-star"></span></li>
        <li>C<span class="one-star"></span></li>
        <li>C#<span class="one-star"></span></li>
        <li>Java<span class="one-star"></span></li>
        <li>Ruby<span class="one-star"></span></li>
      </ul>
      <p class="hard-skill">Front-end</p>
      <ul class="languages-list">
        <li>React JS<span class="three-star"></span></li>
        <li>TKinter<span class="one-star"></span></li>
        <li>Next JS<span class="one-star"></span></li>
      </ul>
      <p class="hard-skill">Back-end</p>
      <ul class="languages-list">
        <li>Django<span class="three-star"></span></li>
        <li>Express<span class="three-star"></span></li>
      </ul>
      <p class="hard-skill">Databases</p>
      <ul class="languages-list">
        <li>PostgreSQL<span class="three-star"></span></li>
        <li>MySQL<span class="three-star"></span></li>
      </ul>
      <p class="hard-skill">Data science</p>
      <ul class="languages-list">
        <li>Numpy<span class="two-star"></span></li>
        <li>Matplotlib<span class="two-star"></span></li>
        <li>MATLAB<span class="one-star"></span></li>
      </ul>
      <p class="hard-skill">Tools</p>
      <ul class="languages-list">
        <li>Notion<span class="three-star"></span></li>
        <li>Git<span class="three-star"></span></li>
        <li>LaTeX<span class="three-star"></span></li>
        <li>Microsoft Office<span class="three-star"></span></li>
        <li>FileZila<span class="one-star"></span></li>
      </ul>
      <p class="caption-stars"><span class="one-star"></span>: basics, <span class="two-star"></span>: intermediate level, <span class="three-star"></span>: solid knowledges</p>
    </section>

    <section>
      <h2>Interests</h2>
      <hr>
      <article class="interest-article">
        <img src="/assets/judo.jpg" alt="tft" class="interest-picture">
        <div>
          <h4>Judo and sports</h4>
          <ul class="objectives-list">
            <li>First dan black belt</li>
            <li>15 years of Judo in competition</li>
            <li>Moral Code of Judo : respect, courage, self control,
              sincerity, politeness, modesty, friendship and honor</li>
            <li>Former president of the Judo Club of Centrale Lyon</li>
          </ul>
          <ul class="skills-list">
            <li>Black belt</li>
            <li>Moral Code of Judo</li>
            <li>Self-confidence</li>
            <li>Competitiveness</li>
          </ul>
        </div>
      </article>
      
      <article class="interest-article">
        <img src="/assets/tft.jpg" alt="tft" class="interest-picture">
        <div>
          <h4>Video games</h4>
          <ul class="objectives-list">
            <li>Plays video games</li>
            <li>Belong in an esport association</li>
            <li>Peaked top 400 in Teamfight Tactics, a Riot Games' strategy game</li>
            <li>3th place in the French academic championships (Grosse Ligue)</li>
          </ul>
          <ul class="skills-list">
            <li>Competitiveness</li>
            <li>Ability to focus</li>
          </ul>
        </div>
      </article>
      
      <article class="interest-article">
        <img src="/assets/euler.jpg" alt="tft" class="interest-picture">
        <div>
          <h4>Philosophy</h4>
          <ul class="objectives-list">
            <li>Read of ancient philosophical books, like Plato's or Descartes'</li>
            <li>Analysis of their context and their vision of the world</li>
            <li>Inspiration in their way of thinking and argue</li>
            <li>Special interest for the œuvre and life of Leonhard Euler</li>
          </ul>
          <ul class="skills-list">
            <li>Philosophical culture</li>
            <li>Ethics</li>
            <li>Knowledges in science history</li>
          </ul>
        </div>
      </article>
      
      <article class="interest-article">
        <img src="/assets/theatre.jpg" alt="tft" class="interest-picture">
        <div>
          <h4>Theatre</h4>
          <ul class="objectives-list">
            <li>Read of ancient philosophical books, like Plato's or Descartes'</li>
            <li>Analysis of their context and their vision of the world</li>
            <li>Inspiration in their way of thinking and argue</li>
            <li>Special interest for the œuvre and life of Leonhard Euler</li>
          </ul>
          <ul class="skills-list">
            <li>Philosophical culture</li>
            <li>Ethics</li>
            <li>Science history</li>
          </ul>
        </div>
      </article>
    </section>

    <section>
      <h2>Projects</h2>
      <hr>
      <ul>
        <li>
          <em>Research project:</em> Impacts of the COVID-19 crisis on the École
          Centrale de Lyon student community
        </li>
        <li>
          <em>Study project:</em> Movement 2 Music, an instrument converting
          movements into songs
        </li>
        <li>
          <em>Scholar project:</em> Management of a self-driving vehicules
          network
        </li>
        <li>
          <em>Scholar project:</em> Probabilistic generation of a melody based
          on the Tonnetz
        </li>
      </ul>
    </section>

    <script type="text/javascript" src="/scripts/scroll.js"></script>
  </body>
</html>
