<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Resume - Tristan Boucansaud</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/style_fr.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Open+Sans"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1 class="title-header">Tristan Boucansaud</h1>
      <p class="subtitle-header">Online Resume</p>
    </header>

    <section>
      <h2>Key informations</h2>
      <p class="function">Multidisciplinary Engineer - Product Owner</p>
      <hr />
      <p class="description">
        23 years old french student at the
        <strong>Ecole Centrale de Lyon</strong>, I'm looking for a final
        <strong>training period</strong> of 6 months in April 2023 as a
        <strong>Product Owner</strong>. Very <strong>sociable</strong>, I love
        teamworking, and my good mood will for sure please to my future
        colleagues. However, I am very <strong>rigorous</strong>, and I know how
        to stay <strong>professionnal</strong> when it is necessary.
      </p>

      <article class="key-article">
        <div>
          <a href="#work-experience"><h3>Work Experience</h3></a>
          <hr />
          <div class="logos-keys">
            <a href="#bsport" class="sub-logos"
              ><img src="/assets/bsport-logo.png" alt="" class="logo-keys" />Web
              development - QA Engineer</a
            >
            <a href="#grandlyon" class="sub-logos"
              ><img
                src="/assets/grandlyon-logo.png"
                alt=""
                class="logo-keys"
              />Web development</a
            >
            <a href="#schuco" class="sub-logos"
              ><img
                src="/assets/schuco-logo.png"
                alt=""
                class="logo-keys"
              />Chatbot development</a
            >
            <a href="#adaptiv" class="sub-logos"
              ><img
                src="/assets/adaptiv-logo.jfif"
                alt=""
                class="logo-keys"
              />Web development</a
            >
            <a href="#exelis" class="sub-logos"
              ><img src="/assets/exelis-logo.png" alt="" class="logo-keys" />Web
              development</a
            >
            <a href="#centralelyonconseil" class="sub-logos"
              ><img src="/assets/clc-logo.png" alt="" class="logo-keys" />Head
              of studies</a
            >
          </div>
        </div>
        <div>
          <h3>Informations</h3>
          <hr />
          <p><strong>Age:</strong> 23 yo</p>
          <p>
            <strong>Location:</strong> 2 Place de la Gare<br />69160
            Tassin-la-Demi-Lune, France
          </p>
          <p>
            <strong>Phone number:</strong> <a href="tel:+33613875248"></a>+33 6
            13 87 52 48
          </p>
          <p>
            <strong>E-mail:</strong>
            <a href="mailto:tristan.boucansaud@hotmail.com"
              >tristan.boucansaud@hotmail.com</a
            >
          </p>
          <p class="hidden-web">
            <strong>Online resume:</strong>
            <a href="https://tristanboucansaud.fr" target="_blank"
              >tristanboucansaud.fr</a
            >
          </p>
          <p class="hidden-web"><strong>LinkedIn:</strong></p>
          <div class="hidden-web">
            <a
              href="https://www.linkedin.com/in/tristan-boucansaud/"
              target="_blank"
              ><img src="qrcode_linkedin_print.png" alt=""
            /></a>
          </div>
          <p class="hidden-web">
            <strong>GitHub:</strong>
            <a href="https://github.com/TristanBoucansaud" target="_blank"
              >github.com/TristanBoucansaud</a
            >
          </p>
          <p><strong>Driving license</strong></p>
          <div class="logos-sn">
            <a
              href="https://www.linkedin.com/in/tristan-boucansaud/"
              target="_blank"
              ><img
                id="linkedin"
                src="/assets/linkedin.png"
                alt=""
                class="logo-sn"
            /></a>
            <a href="https://github.com/TristanBoucansaud" target="_blank"
              ><img id="github" src="/assets/github.png" alt="" class="logo-sn"
            /></a>
          </div>
        </div>
        <div>
          <a href="#education"><h3>Education</h3></a>
          <hr />
          <div class="logos-keys">
            <a href="#centralelyon" class="sub-logos"
              ><img
                src="/assets/ecl-logo.png"
                alt=""
                class="logo-keys"
              />Multidisciplinary Engineer</a
            >
            <a href="#centraledigitallab" class="sub-logos"
              ><img
                src="/assets/cdl-logo.png"
                alt=""
                class="logo-keys"
              />Digital Tech Year</a
            >
            <a href="#jeanmoulin" class="sub-logos"
              ><img
                src="/assets/lyon3-logo.png"
                alt=""
                class="logo-keys"
              />History and Philosophy of Science</a
            >
            <a href="#arago" class="sub-logos"
              ><img
                src="/assets/arago-logo.png"
                alt=""
                class="logo-keys"
              />Preparatory class in Maths and Physics</a
            >
          </div>
        </div>
      </article>
    </section>

    <section id="work-experience">
      <h2>Work experience</h2>
      <hr />
      <article class="grid" id="bsport">
        <div>
          <h4>Bsport</h4>
          <p>March 2022 - August 2022</p>
          <p class="company-details">
            <span class="location">Barcelona</span>
            <br />
            <a href="https://pro.bsport.io/en/home/" target="_blank"
              ><span class="link">https://pro.bsport.io/en/home/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack / QA Engineer</h4>

          <ul class="objectives-list">
            <li>Development of new features in the application</li>
            <li>Bug fixes and hotfixes</li>
            <li>QA engineer, handling bug tickets</li>
            <li>Automatization of data migrations with Python scripts</li>
          </ul>
          <ul class="skills-list">
            <li>React JS</li>
            <li>Django</li>
            <li>Redux</li>
            <li>Material UI</li>
            <li>DRF</li>
            <li>GitLab</li>
            <li>Notion</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="grandlyon">
        <div>
          <h4>Grand Lyon</h4>
          <p>January 2022 - March 2022</p>
          <p class="company-details">
            <span class="location">Villeurbanne (partial remote)</span>
            <br />
            <a href="https://www.grandlyon.com/" target="_blank"
              ><span class="link">https://www.grandlyon.com/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack</h4>

          <ul class="objectives-list">
            <li>
              Development and design of a web directory identifying tree species
            </li>
            <li>
              Elaboration of a search engine to find the perfect tree for
              individuals
            </li>
          </ul>
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="schuco">
        <div>
          <h4>Schüco</h4>
          <p>November 2021 - January 2022</p>
          <p class="company-details">
            <span class="location">New York (full remote)</span>
            <br />
            <a href="https://www.schueco.com/us/" target="_blank"
              ><span class="link">https://www.schueco.com/us/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Software Developer</h4>

          <ul class="objectives-list">
            <li>
              Elaboration of a Python ChatBot to guide users through an ordering
              website
            </li>
            <li>Development of a web design using the Python script</li>
          </ul>
          <ul class="skills-list">
            <li>Python</li>
            <li>NLP</li>
            <li>Angular</li>
            <li>Django</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="adaptiv">
        <div>
          <h4>Adaptiv Systems</h4>
          <p>September - November 2021</p>
          <p class="company-details">
            <span class="location">Paris 15th (partial remote)</span>
            <br />
            <a href="https://adaptiv.systems/" target="_blank"
              ><span class="link">https://adaptiv.systems/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack</h4>

          <ul class="objectives-list">
            <li>
              Development from scratch to hatch of an ordering website for a
              company
            </li>
            <li>SCRUM Master role in the team</li>
          </ul>
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>SCRUM Master</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="exelis">
        <div>
          <h4>Exelis</h4>
          <p>April - August 2021</p>
          <p class="company-details">
            <span class="location">Lyon 7th</span>
            <br />
            <a href="http://www.exelis.com/" target="_blank"
              ><span class="link">http://www.exelis.com/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Web Developer Full Stack</h4>

          <ul class="objectives-list">
            <li>Development of a quiz website for the CEA</li>
            <li>Monitoring of mon-event, a event-managing website</li>
            <li>Redesign of a database</li>
          </ul>
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP7</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="board">
        <div>
          <h4>Ecole Centrale de Lyon</h4>
          <p>2021 - 2023</p>
          <p class="company-details">
            <span class="location">Ecully</span>
          </p>
        </div>
        <div>
          <h4>Member of the Adminitration Board</h4>

          <ul class="objectives-list">
            <li>
              Take part in the decisions of the management body of the school
            </li>
            <li>
              Be an interlocutor between the students and the administation
            </li>
            <li>Judgement of students through the Disciplinary Board</li>
          </ul>
          <ul class="skills-list">
            <li>School Administration Board</li>
            <li>Disciplinary Board</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="centralelyonconseil">
        <div>
          <h4>Centrale Lyon Conseil</h4>
          <p>2019 - 2020</p>
          <p class="company-details">
            <span class="location">Ecully</span>
            <br />
            <a href="https://centralelyonconseil.fr/" target="_blank"
              ><span class="link">https://centralelyonconseil.fr/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Head of Studies</h4>

          <ul class="objectives-list">
            <li>
              Following consultants (students) and clients in order to lead a
              study
            </li>
            <li>Talk with new clients to understand their needs</li>
          </ul>
          <ul class="skills-list">
            <li>Head of study</li>
            <li>Man-day</li>
            <li>GANTT</li>
          </ul>
        </div>
      </article>
    </section>

    <section id="education">
      <h2>Education</h2>
      <hr />

      <article class="grid" id="centralelyon">
        <div>
          <h4>Ecole Centrale de Lyon</h4>
          <p>2019 - 2023</p>
          <p class="company-details">
            <span class="location">Ecully</span>
            <br />
            <a href="https://www.ec-lyon.fr/" target="_blank"
              ><span class="link">https://www.ec-lyon.fr/</span></a
            >
          </p>
        </div>
        <div>
          <h4>Multidisciplinary Engineering Courses</h4>

          <ul class="objectives-list">
            <li>7th best engineering school in France</li>
            <li>Learning general engineering in many fields of science</li>
            <li>
              Specialization in general computering science and in social
              science
            </li>
          </ul>
          <ul class="skills-list">
            <li>General engineering</li>
            <li>General Computering Science</li>
            <li>Social Science</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="jeanmoulin">
        <div>
          <h4>Jean Moulin Lyon 3 University</h4>
          <p>2022 - 2023</p>
          <p class="company-details">
            <span class="location">Lyon 7th</span>
            <br />
            <a
              href="https://facdephilo.univ-lyon3.fr/master-logique-histoire-et-philosophie-des-sciences-et-des-technologies-2"
              target="_blank"
              ><span class="link"
                >https://facdephilo.univ-lyon3.fr/master-logique-histoire-et-philosophie-des-sciences-et-des-technologies-2</span
              ></a
            >
          </p>
        </div>
        <div>
          <h4>Master of History and Philosophy of Science and Technology</h4>

          <ul class="objectives-list">
            <li>Double degree with the Ecole Centrale de Lyon</li>
            <li>
              History and Philosophy of different fields of science, like logic,
              physics, maths or technologies
            </li>
            <li>
              Philosophy of cognition at the Ecole Normale Supérieure of Lyon
            </li>
          </ul>
          <ul class="skills-list">
            <li>Philosophy of Science</li>
            <li>History of Science</li>
            <li>Philosophy of Cognition</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="centraledigitallab">
        <div>
          <h4>Centrale Digital Lab</h4>
          <p>2021 - 2022</p>
          <p class="company-details">
            <span class="location">Charbonnières-les-Bains</span>
            <br />
            <a
              href="https://www.ec-lyon.fr/formation/diplomes-etablissement/centrale-digital-lab"
              target="_blank"
              ><span class="link"
                >https://www.ec-lyon.fr/formation/diplomes-etablissement/centrale-digital-lab</span
              ></a
            >
          </p>
        </div>
        <div>
          <h4>Digital Tech Year of the Ecole Centrale de Lyon</h4>

          <ul class="objectives-list">
            <li>Schooling basics in several IT fields</li>
            <li>Three projects of two months with companies on many fields</li>
            <li>
              Agile methodology courses, applied in our projects with the SCRUM
              Method
            </li>
          </ul>
          <ul class="skills-list">
            <li>Web development</li>
            <li>Machine learning</li>
            <li>SCRUM method</li>
          </ul>
        </div>
      </article>

      <article class="grid" id="arago">
        <div>
          <h4>François Arago High School</h4>
          <p>2016 - 2019</p>
          <p class="company-details">
            <span class="location">Perpignan</span>
            <br />
            <a
              href="https://pcsi-arago-maths.pagesperso-orange.fr/cpgearago.htm"
              target="_blank"
              ><span class="link"
                >https://pcsi-arago-maths.pagesperso-orange.fr/cpgearago.htm</span
              ></a
            >
          </p>
        </div>
        <div>
          <h4>Preparatory Class in Maths and Physics</h4>

          <ul class="objectives-list">
            <li>
              Preparatory class aiming at entrance exams for Grandes Écoles
            </li>
            <li>Dense courses to acquire a solid scientific basis</li>
            <li>Oral exams twice a week to improve our oral expression</li>
          </ul>
          <ul class="skills-list">
            <li>Mathematics</li>
            <li>Physics</li>
            <li>Engineering science</li>
            <li>Python</li>
            <li>SQL</li>
          </ul>
        </div>
      </article>
    </section>

    <section>
      <h2>Languages</h2>
      <h4>For humans:</h4>
      <ul class="languages-list">
        <li>French (Native)</li>
        <li>English (B2+, 590+ TOEFL)</li>
        <li>Spanish (A2)</li>
        <li>Russian (A2)</li>
      </ul>
      <h4>For computers:</h4>
      <strong>Front-end</strong>
      <ul>
        <li>HTML/CSS</li>
        <li>Javascript</li>
        <li>React JS</li>
        <li>TKinter</li>
        <li>Next JS</li>
      </ul>
      <strong>Back-end</strong>
      <ul>
        <li>Django</li>
        <li>Express</li>
        <li>PHP 7</li>
      </ul>
      <strong>Databases</strong>
      <ul>
        <li>PostgreSQL</li>
        <li>MySQL</li>
      </ul>
      <strong>Data science</strong>
      <ul>
        <li>Numpy</li>
        <li>Matplotlib</li>
        <li>MATLAB</li>
      </ul>
      <strong>Tools</strong>
      <ul>
        <li>Notion</li>
        <li>Git</li>
        <li>FileZila</li>
        <li>LaTeX</li>
        <li>Microsoft Office</li>
      </ul>
      <strong>Methodology</strong>
      <ul>
        <li>SCRUM</li>
        <li>Design Thinking</li>
      </ul>
    </section>

    <section>
      <h2>Interests</h2>
      <h3>Judo and sports</h3>
      <p>
        I am <em>black belt</em> and immersed in Judo’s values since my
        childhood. These values are ruled by the Moral Code of Judo, which is
        composed of <em>8 values</em>: respect, courage, self control,
        sincerity, politeness, modesty, friendship and honor.
      </p>
      <ul>
        <li>15 years of Judo in competition and sports in general</li>
      </ul>
      <ul>
        <li>Black belt</li>
        <li>Moral Code of Judo</li>
      </ul>
      <h3>Computers</h3>
      <p>
        I like coding, playing and tickle the limits of computers. I like
        working on <em>personnal projects</em> like this website. I also used to
        be a <em>competitive player</em> of Teamfight Tactics, a strategy video
        game where I reached the <em>top 500 in Europe</em>, as a member of an
        <em>esport structure</em>.
      </p>
      <ul>
        <li>Play with the limits of computers</li>
      </ul>
      <ul>
        <li>Personal IT projects</li>
        <li>Video games</li>
        <li>Competitive player of Teamfight Tactics</li>
      </ul>
      <h3>Philosophy</h3>
      <p>
        I am interested in Philosophy and I read
        <em>a lot of ancient books</em>. Understanding how the greatest thinkers
        used to see their world, their society and their feelings is in my
        opinion a key to
        <em>understand our modern world in a different way</em>. Plato,
        Descartes or Euler are ones of my favourites.
      </p>
      <ul>
        <li>
          Understanding how the greatest thinkers used to see their world,
          society and feelings
        </li>
      </ul>
      <ul>
        <li>Ancient books</li>
        <li>Ethics</li>
      </ul>
    </section>

    <section>
      <h2>Achievements</h2>
      <ul>
        <li>
          <em>Research project:</em> Impacts of the COVID-19 crisis on the École
          Centrale de Lyon student community
        </li>
        <li>
          <em>Study project:</em> Movement 2 Music, an instrument converting
          movements into songs
        </li>
        <li>
          <em>Scholar project:</em> Management of a self-driving vehicules
          network
        </li>
        <li>
          <em>Scholar project:</em> Probabilistic generation of a melody based
          on the Tonnetz
        </li>
        <li><em>Diploma:</em> Design Thinking Certificate</li>
      </ul>
      <h2>Miscellaneous</h2>
      <ul>
        <li>First degree of <em>black belt</em> in Judo</li>
        <li>
          Former <em>president</em> of the Theatre Club, the Judo Club and the
          Kaamelott Club, 3 clubs from Centrale Lyon
        </li>
      </ul>
    </section>

    <script type="text/javascript" src="/scripts/scroll.js"></script>
  </body>
</html>
